<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
    <h1>Ordered Products</h1>

    <h2>Last 7 days</h2>
    <ul>
        {% for product in last_7_days_products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>

    <h2>Last 30 days</h2>
    <ul>
        {% for product in last_30_days_products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>

    <h2>Last 365 days</h2>
    <ul>
        {% for product in last_365_days_products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
